<!DOCTYPE html>
<html>
	<head>
		<title>Study Material (<%= latest %>)</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="images/favicon.png" />
		<style>
			@import url("https://fonts.googleapis.com/css?family=Antic+Slab|Ubuntu|Merriweather");
			@import url("styles/scrollbar.css");

			body {
				background-color: #1e2332;
				color: azure;
				margin: 0;
				top: 0;
				font-family: "Ubuntu";
			}

			html {
				scroll-behavior: smooth;
			}

			a:not(.bt) {
				text-decoration: none;
				cursor: pointer;
				color: wheat;
				border-bottom: 2px solid rgba(255, 255, 255, 0);
				margin-bottom: 20px;
				width: 100%;
				text-align: center;
				line-height: 50px;
				background-color: rgb(36, 60, 61);
				border-radius: 10px;
				transition-duration: 150ms;
				display: inline-block;
			}

			li {
				word-wrap: break-word;
				overflow-wrap: break-word;
				display: block;
				white-space: normal;
				width: 70%;
			}

			a:hover:not(.bt) {
				background-color: teal;
			}

			input {
				border: none;
				border-right: 2px solid transparent;
				border-left: 2px solid transparent;
				border-bottom: 2px solid black;
				background-color: transparent;
				padding: 10px;
				width: 500px;
				height: 35px;
				font-size: large;
				transition-duration: 300ms;
				border-radius: 12px;
			}

			input:focus {
				background-color: wheat;
				outline: none;
			}

			button {
				padding: 20px;
				border: none;
				background-color: teal;
				color: white;
				border-radius: 10px;
				width: 200px;
				cursor: pointer;
				transition-duration: 200ms;
			}

			button:hover {
				background-color: rgb(70, 112, 204);
			}

			svg {
				/* display: block; */
				position: fixed;
				z-index: -1;
				top: 1rem;
				opacity: 0.5;
				height: 100vh;
				width: 100wh;
			}

			.bt:hover {
				color: aquamarine;
			}

			.bt {
				text-decoration: none;
				color: white;
				transition-duration: 300ms;
			}

			.sidebar {
				width: 15wh;
				right: 0;
				position: fixed;
				background-color: transparent;
				opacity: 0.5;
				height: 100vh;
				top: 0;
			}
		</style>
	</head>

	<div id="loader">Almost done...</div>
	<body>
		<!-- Wave -->
		<svg
			width="1440"
			height="620"
			viewBox="0 0 1440 620"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M0 0C60.8333 137.833 251.8 390.8 529 300C875.5 186.5 1016 462 1053.5 522C1091 582 1226 639.5 1317.5 562C1409 484.5 1406.5 504 1455.5 497.5V620H0V0Z"
				fill="#1d1438"
			/>
		</svg>

		<div class="sidebar">
			<a class="bt" href="#"> (<%= latest %>)</a>
			<br />
			<br />
			<a class="bt" href="#">Back top?</a>
			<br />
			<br />
			<a class="bt" href="#specials">PDF - Specials</a>
			<br />
			<br />
			<a class="bt" href="#notesetc">PDFs - Notes, DPPs, etc.</a>
			<br />
			<br />
			<a class="bt" href="#input">Search</a>
		</div>

		<div class="main-content" style="margin-right: 15wh">
			<h1 style="font-size: 40px; top: 0; margin: 0">Study Material</h1>

			<br />
			<input
				type="text"
				id="input"
				onkeyup="search()"
				placeholder="Search..."
				autocomplete="off"
			/>
			<!-- <button onclick="window.location.reload()">Refresh Page</button> -->
			<br />
			<input
				type="text"
				id="reg"
				placeholder="Regexp..."
				autocomplete="off"
				onkeyup="onRegKey(event)"
			/>
			<button onclick="regSearch()" id="regButton">Reg Search</button>

			<!-- <ul style="list-style-type: none; margin: 0" id="listing">
			<li>
				<h1>Physics</h1>
	
				<% for(let p = 0; p < physics.length; p++) { %>
			</li>
	
			<li>
				<h2>Physics/<%= physics[p].chapter %></h2>
	
				<% if(physics[p].dpps.length !== 0) {%>
	
				<h3>Physics/<%= physics[p].chapter %>/DPPs</h3>
	
				<% for(let pd = 0; pd < physics[p].dpps.length; pd++) {%>
			</li>
	
			<li>
				<a href="dashboard/physics/<%= physics[p].chapter %>/<%= physics[p].dpps[pd] %>"><%= physics[p].dpps[pd] %>
					(<%= physics[p].chapter %>) [Physics]</a>
			</li>
	
			<% } %> <% } %> <% if(physics[p].notes.length !== 0) {%>
	
			<h3>Physics/<%= physics[p].chapter %>/Notes</h3>
	
			<% for(let pn = 0; pn < physics[p].notes.length; pn++) {%>
	
			<li>
				<a href="dashboard/physics/<%= physics[p].chapter %>/<%= physics[p].notes[pn] %>"><%= physics[p].notes[pn] %>
					(<%= physics[p].chapter %>) [Physics]</a>
			</li>
	
			<% } %> <% } %> <% if(physics[p].other.length !== 0) {%>
			<h3>Physics/<%= physics[p].chapter %>/Other</h3>
			<% for(let pn = 0; pn < physics[p].other.length; pn++) {%>
			<li>
				<a href="dashboard/physics/<%= physics[p].chapter %>/<%= physics[p].other[pn] %>"><%= physics[p].other[pn] %>
					(<%= physics[p].chapter %>) [Physics]</a>
			</li>
			<% } %> <% } %> <% } %>
	
			<li>
				<h1>Chemistry</h1>
				<% for(let p = 0; p < chemistry.length; p++) { %>
			</li>
	
			<li>
				<h2>Chemistry/<%= chemistry[p].chapter %></h2>
				<% if(chemistry[p].dpps.length !== 0) {%>
				<h3>Chemistry/<%= chemistry[p].chapter %>/DPPs</h3>
				<% for(let pd = 0; pd < chemistry[p].dpps.length; pd++) {%>
			</li>
	
			<li>
				<a href="dashboard/chemistry/<%= chemistry[p].chapter %>/<%= chemistry[p].dpps[pd] %>"><%= chemistry[p].dpps[pd] %>
					(<%= chemistry[p].chapter %>)
					[Chemistry]</a>
			</li>
			<% } %> <% } %> <% if(chemistry[p].notes.length !== 0) {%>
			<h3>Chemistry/<%= chemistry[p].chapter %>/Notes</h3>
			<% for(let pn = 0; pn < chemistry[p].notes.length; pn++) {%>
			<li>
				<a href="dashboard/chemistry/<%= chemistry[p].chapter %>/<%= chemistry[p].notes[pn] %>"><%= chemistry[p].notes[pn] %>
					(<%= chemistry[p].chapter %>)
					[Chemistry]</a>
			</li>
			<% } %> <% } %> <% if(chemistry[p].other.length !== 0) {%>
			<h3>Chemistry/<%= chemistry[p].chapter %>/Other</h3>
			<% for(let pn = 0; pn < chemistry[p].other.length; pn++) {%>
			<li>
				<a href="dashboard/chemistry/<%= chemistry[p].chapter %>/<%= chemistry[p].other[pn] %>"><%= chemistry[p].other[pn] %>
					(<%= chemistry[p].chapter %>)
					[Chemistry]</a>
			</li>
			<% } %> <% } %> <% } %>
	
			<li>
				<h1>Biology</h1>
				<% for(let p = 0; p < biology.length; p++) { %>
			</li>
	
			<li>
				<h2>Biology/<%= biology[p].chapter %></h2>
				<% if(biology[p].dpps.length !== 0) {%>
				<h3>Biology/<%= biology[p].chapter %>/DPPs</h3>
				<% for(let pd = 0; pd < biology[p].dpps.length; pd++) {%>
			</li>
	
			<li>
				<a href="dashboard/biology/<%= biology[p].chapter %>/<%= biology[p].dpps[pd] %>"><%= biology[p].dpps[pd] %>
					(<%= biology[p].chapter %>) [Biology]</a>
			</li>
			<% } %> <% } %> <% if(biology[p].notes.length !== 0) {%>
			<h3>Biology/<%= biology[p].chapter %>/Notes</h3>
			<% for(let pn = 0; pn < biology[p].notes.length; pn++) {%>
			<li>
				<a href="dashboard/biology/<%= biology[p].chapter %>/<%= biology[p].notes[pn] %>"><%= biology[p].notes[pn] %>
					(<%= biology[p].chapter %>) [Biology]</a>
			</li>
			<% } %> <% } %> <% if(biology[p].other.length !== 0) {%>
			<h3>Biology/<%= biology[p].chapter %>/Other</h3>
			<% for(let pn = 0; pn < biology[p].other.length; pn++) {%>
			<li>
				<a href="dashboard/biology/<%= biology[p].chapter %>/<%= biology[p].other[pn] %>"><%= biology[p].other[pn] %>
					(<%= biology[p].chapter %>) [Biology]</a>
			</li>
			<% } %> <% } %> <% } %>
		</ul> -->

			<ul style="list-style-type: none; margin: 0" id="listing">
				<h2 id="specials">PDF - Specials</h2>
				<!-- <li>
					<a
						href="https://drive.google.com/file/d/1KB_4b26fRtRpDh-lVwfI4UWzjie8hevX/view?usp=sharing"
						>Chemistry//Organic Chemistry//Organic Chemistry Book By SKM Sir
						(Problems and Solutions in Organic Chemistry)</a
					>
				</li> -->
				<!-- For loop for specials -->
				<% for(let specialIndex = 0; specialIndex < specials.length;
				specialIndex++) { %>

				<li>
					<a class="pdfl" href="<%= specials[specialIndex].url %>"
						><%= specials[specialIndex].name %></a
					>
				</li>

				<% } %>
				<!-- For loop for specials end -->

				<h2 id="notesetc">PDFs - Notes and DPPs, Sheets, Modules, etc.</h2>
				<!-- Listing v2.0 -->
				<!-- For loop for subjects -->
				<% for(let subjectIndex = 0; subjectIndex < subjects.length;
				subjectIndex++) { %> <% const subject =
				all[subjects[subjectIndex].toLowerCase()]; %>
				<!-- //Heading for subject -->
				<!-- //<h1><%= subjects[subjectIndex] %></h1> -->

				<!-- For loop for chapters -->
				<% for(let chapterIndex = 0; chapterIndex < subject.length;
				chapterIndex++) { %> <% const chapter = subject[chapterIndex]; %>
				<!-- // Heading for chapter -->
				<!-- //<h2><%= chapter.chapter %></h2> -->

				<!-- For loop for types (dpps/notes/other) -->
				<% for(let typeIndex = 0; typeIndex < types.length; typeIndex++) { %> <%
				const node = chapter[types[typeIndex].toLowerCase()] %> <% if(!node ||
				node.length == 0) continue %>

				<!-- //Heading for type -->
				<!-- //<h3><%= types[typeIndex] %></h3> -->

				<!-- For loop for type nodes -->
				<% for(let nodeIndex = 0; nodeIndex < node.length; nodeIndex++) { %>

				<li>
					<a
						class="pdfl"
						href="/dashboard/<%= subjects[subjectIndex].toLowerCase() %>/<%= chapter.chapter %>/<%= node[nodeIndex] %>"
					>
						<%= subjects[subjectIndex] %>//<%= chapter.chapter %>//<%=
						node[nodeIndex] %>
					</a>
				</li>

				<% } %>
				<!-- For loop for type nodes end -->

				<% } %>
				<!-- For loop for types end -->

				<% } %>
				<!-- For loop for chapters end -->

				<% } %>
				<!-- For loop for subjects end -->
			</ul>
		</div>

		<script>
			function search() {
				// Declare variables
				var input, filter, ul, li, a, i, txtValue;
				input = document.getElementById("input");
				filter = input.value.toUpperCase();
				ul = document.getElementById("listing");
				li = ul.getElementsByTagName("li");

				// Loop through all list items, and hide those who don't match the search query
				// for (i = 0; i < li.length; i++) {
				// 	check(li[i]);
				// }
				// Check items
				for (let i = 0; i < li.length; i++) {
					const linkInLI = li[i].getElementsByTagName("a");
					const inner = linkInLI[0].innerHTML || linkInLI[0].textContent;
					if (inner.toLowerCase().includes(input.value.toLowerCase())) {
						li[i].style.display = "";
					} else {
						li[i].style.display = "none";
					}
				}
			}

			// Loading page
			document.onreadystatechange = () => {
				if (document.readyState !== "complete") {
					document.querySelector("body").style.visibility = "hidden";
					document.querySelector("#loader").style.visibility = "visible";
				} else {
					document.querySelector("#loader").style.visibility = "hidden";
					document.querySelector("body").style.visibility = "visible";
				}
			};

			// Enter reg search
			function onRegKey(event) {
				if (event.keyCode == 13) {
					document.getElementById("regButton").click();
				}
			}

			// https://github.com/Shwibi/shwi/raw/content/content/NEET%20Biology/Cell%20The%20Unit%20of%20Life/DPP%2001%20Cell%20The%20Unit%20of%20Life.pdf
			// function check(inlet) {
			// 	filter = input.value.toUpperCase();
			// 	txtValue = inlet.getElementsByTagName("a")[0]
			// 		? inlet.getElementsByTagName("a")[0].textContent
			// 		: "";
			// 	txtValue = txtValue.toUpperCase();
			// 	if (engine(txtValue, filter)) {
			// 		inlet.style.display = "";
			// 	} else {
			// 		inlet.style.display = "none";
			// 	}
			// }

			// function engine(toCheck, searchValue) {
			// 	// Check to return true/false
			// 	const searches = searchValue.split(/\s/);
			// 	const checks = toCheck.split("//");
			// 	const multiCheck = toCheck.split(/\s/);
			// 	const minimumReq = 2;
			// 	let passed = 0;
			// 	let ret;

			// 	// Check for subject/chapter/nodes
			// 	for (let i = 0; i < checks.length; i++) {
			// 		if (searches.includes(checks[i])) ret = true;
			// 		else continue;
			// 	}

			// 	// Check for args
			// 	for (let i = 0; i < multiCheck.length; i++) {
			// 		if (searches.includes(multiCheck[i])) passed++;
			// 		if (passed >= minimumReq) ret = true;
			// 		else continue;
			// 	}

			// 	// Include
			// 	// if (toCheck.includes(searchValue)) ret = true;

			// 	if (ret) return true;
			// 	else return false;
			// }

			function regSearch() {
				const str = document.getElementById("reg").value;
				if (str) {
					const regex = new RegExp(str.toUpperCase());
					const list = document.getElementsByTagName("li");
					for (let i = 0; i < list.length; i++) {
						let texts =
							list[i].getElementsByTagName("a")[0].textContent ||
							list[i].getElementsByTagName("a")[0].innerHTML;
						texts = texts.toUpperCase();
						if (texts.match(regex)) {
							list[i].style.display = "";
						} else {
							list[i].style.display = "none";
						}
					}
				}
			}
		</script>
	</body>
</html>
